@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {

    --backgroundColor : #00105a;
    --fontColorWhite: #ffff;
    --fontColorBlack: black;
    --fontColor2: #1dd5ca;
    --fontColor3: #99A4DA;
    --fuenteTitulos: 'Oswald', sans-serif;
    --fuenteCuerpo: 'Poppins', sans-serif;
}

/*elimina cualquier margen y relleno predeterminado*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box; /* Establece el width sea el ancho final de la caja (incluendo padding y border */
    /*siempe es bueno ponerlo aqui par que los cambios en paddings y margins no afecten la visualizacion de la pagina*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: var(--fuenteCuerpo);
}

a {
    text-decoration: none; /*quitar la decoracion de este item */
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}


#barra-superior {
    font-family: var(--fuenteTitulos);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em; /*mismo tamaño fuente caja padre, en este caso body. el tamaño por defecto es 16px*/
    color: var(--fontColorWhite);
    background-color: var(--backgroundColor);
}

#barra-superior .contenedor .fila {
    justify-content: center;
    align-items: center;
}

#barra-superior li a,i {
    padding: 0px 2px;
    color: var(--fontColorWhite);
}

#cabecera .logo {
    width: 100px;
    height: auto;
}

#cabecera .fila {
    justify-content: space-between;
    align-items: center;
}

#cabecera .menu-opciones .fila {
    align-items: center;
    padding: 20px;
}

#cabecera .menu-opciones a {
    color: var(--fontColor3);
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease-in-out;/*animacion al pasar el mouse del cambio de color*/
}

#cabecera .menu-opciones a:hover::after {
    content : "";
    position: absolute;
    bottom: 0px;
    left: calc(50% -  10px);

    /*barrita*/
    background-color: var(--backgroundColor);
    width: 20px;
    height: 2px;
}

#cabecera .menu-opciones a:focus::after {
    content : "";
    position: absolute;
    bottom: 0px;
    left: calc(50% -  10px);

    /*barrita*/
    background-color: var(--fontColor2);
    width: 20px;
    height: 2px;
}

#banner {
    position: relative;
}

#banner img{    
    width: 100%;
    object-fit: cover;
}

#banner:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

#juego-mes {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
    background-color: var(--fontColor3);
}

#juego-mes .contenedor{
    max-width: 70%;
}

#juego-mes .contenedor > .fila {
    flex-direction: column;
}


.contenedor {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-banner {
    width: 40%;
    height:max-content;
    left: 15%;
    top:20%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-banner > *{
    padding-bottom: 30px;
}

.contenedor-banner h2 {
    font-size: 2.5em;
    color: var(--fontColor2);
}

.contenedor-banner p {
    color: var(--fontColor3);
    font-size: 1em;
}

.espaciado {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ajustar_ancho {  /*ajusta ancho con respecto de la caja padre*/
    width: 100%;
}


.fila {
    display: flex;  /* Activar FlexBox */
    flex-direction: row;  /* Coloca el contenido de izquierda a derecha */
}

.columna {
    flex-basis: 0;
    flex-grow: 1;
}

.ubicacion {
    text-align: left;
}

.contactos {
    text-align: center;
}

.redes-sociales {
    text-align: right;
}


.logo img {
    display: block;
}

.botones > * {
    padding-right: 30px;
}

.botones button {
    padding: 10px 30px;
    box-shadow: -9px 24px 63px 2px rgba(39,148,141,0.75);
    border-radius: 15px;
    border: 1px;
    font-family: var(--fuenteTitulos);
}

.botones li:nth-child(2) button {
    background-color: var(--fontColor3);
}

.titulo-juego {
    text-align: center;
    font-family: var(--fuenteTitulos);
    font-size: 2em;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: -30px;
    margin-left: -100px;
    z-index: 2;
}

.descripcion-juego .fila {
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--fontColorWhite);
    margin-left: 20%;
}

.enunciado-juego {
    background-color: var(--fontColorWhite);
    color: var(--backgroundColor);
    padding: 0px 50px;
    padding-left: 100px;
}

.enunciado-juego > * {
    padding-top: 30px;
}

.enunciado-juego h2{
    position: relative;
    font-family: var(--fuenteTitulos);
    font-size: 2.5em;
    padding-top: 0px;
}

.enunciado-juego h2::after {
    content : "";
    position: absolute;
    bottom: -10px;
    left: calc(0%);

    /*barrita*/
    background-color: var(--fontColor2);
    width: 100px;
    height: 4px;
}

.imagen-juego{
    width: 100%;
    z-index: 1;
    margin-left: -25%;
    overflow: hidden;
    position: relative;
    box-shadow: -6px 22px 28px 0px rgba(0,0,0,0.75);
}

.imagen-juego:hover .imagen-juego-leyenda {
    display: flex;
    color: var(--fontColor2);
}

.imagen-juego img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.imagen-juego-leyenda {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 30px;
    background-color:rgba(32,54,70,0.8) ;
    font-size: 0.8em;

    /*centrar el contenido*/
    display: flex;
    align-items: center;
    text-align: center;

    transition: all 0.3s ease-in-out;
    display: none;
    /*opacity: 0 tambien funciona? */
}

.imagen-juego:hover img {
    transform: scale(1.05);
}

.saber-mas button {
    padding: 10px 30px;
    border-radius: 25px;
    background-color: white;
    color: var(--backgroundColor);
    font-family: var(--fuenteCuerpo);
}

.saber-mas button:hover {
    background-color: var(--fontColor2);
}



